:root {
    --grey-900: rgba(15, 23, 42, 1);
    --grey-700: rgba(51, 65, 85, 1);
    --white: rgba(255, 255, 255, 1);
    --primary-500: rgba(59, 130, 246, 1);
    --greyborder: rgba(226, 232, 240, 1);
    --primary-400: rgba(96, 165, 250, 1);
    --error-400: rgba(248, 113, 113, 1);
    --warning-400: rgba(250, 204, 21, 1);
    --grey-300: rgba(203, 213, 225, 1);
    --greybackground: rgba(248, 250, 252, 1);
    --primary-100: rgba(224, 242, 254, 1);
    --primary-600: rgba(37, 99, 235, 1);
    --warning-500: rgba(234, 179, 8, 1);
    --black: rgba(0, 0, 0, 1);
    --greydisable-color: rgba(148, 163, 184, 1);
    --gray-800: rgba(29, 41, 57, 1);
    --greytext-dark: rgba(2, 6, 23, 1);
    --grey-100: rgba(241, 245, 249, 1);
    --grey-800: rgba(30, 41, 59, 1);
    --greytext-light: rgba(100, 116, 139, 1);
    --heading-1-font-family: "Inter", Helvetica;
    --heading-1-font-weight: 700;
    --heading-1-font-size: 40px;
    --heading-1-letter-spacing: 0px;
    --heading-1-line-height: 120.00000762939453%;
    --heading-1-font-style: normal;
    --paragraph-font-family: "Inter", Helvetica;
    --paragraph-font-weight: 400;
    --paragraph-font-size: 16px;
    --paragraph-letter-spacing: 0px;
    --paragraph-line-height: 160%;
    --paragraph-font-style: normal;
    --button-text-font-family: "Inter", Helvetica;
    --button-text-font-weight: 500;
    --button-text-font-size: 14px;
    --button-text-letter-spacing: 0px;
    --button-text-line-height: 160%;
    --button-text-font-style: normal;
    --label-font-family: "Inter", Helvetica;
    --label-font-weight: 400;
    --label-font-size: 12px;
    --label-letter-spacing: 0px;
    --label-line-height: normal;
    --label-font-style: normal;
    --heading-2-font-family: "Inter", Helvetica;
    --heading-2-font-weight: 400;
    --heading-2-font-size: 32px;
    --heading-2-letter-spacing: 0px;
    --heading-2-line-height: 130%;
    --heading-2-font-style: normal;
    --small-text-font-family: "Inter", Helvetica;
    --small-text-font-weight: 400;
    --small-text-font-size: 14px;
    --small-text-letter-spacing: 0px;
    --small-text-line-height: 150%;
    --small-text-font-style: normal;
    --heading-3-font-family: "Inter", Helvetica;
    --heading-3-font-weight: 400;
    --heading-3-font-size: 24px;
    --heading-3-letter-spacing: 0px;
    --heading-3-line-height: 140%;
    --heading-3-font-style: normal;
    --heading-4-subheading-font-family: "Inter", Helvetica;
    --heading-4-subheading-font-weight: 400;
    --heading-4-subheading-font-size: 20px;
    --heading-4-subheading-letter-spacing: 0px;
    --heading-4-subheading-line-height: 150%;
    --heading-4-subheading-font-style: normal;
    --heading-5-subheading-font-family: "Inter", Helvetica;
    --heading-5-subheading-font-weight: 400;
    --heading-5-subheading-font-size: 18px;
    --heading-5-subheading-letter-spacing: 0px;
    --heading-5-subheading-line-height: 160%;
    --heading-5-subheading-font-style: normal;
    --shadow: 0px 0px 8px 0px rgba(59, 130, 246, 0.12);
}